  <nz-table #nestedTableManualJobs [nzData]="cleanJobsManual" [nzLoading]="loading" [nzShowSizeChanger]="true" nzBordered>
    <thead>
      <tr>
        <th>被删除的度量</th>
        <th>清理范围</th>
        <th>清理模式</th>
        <th>状态</th>
        <th>创建时间</th>
        <th>结束时间</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTableManualJobs.data">
        <tr>
          <td><a (click)="showDetailModal(mTitle, mContent, mFooter)">{{data.metrics}}</a></td>
          <ng-template #mTitle>
            <span>任务详情</span>
          </ng-template>
          <ng-template #mContent>
                  <fieldset>
                    <div class="form-static">
                      <div class="form-group">
                        <label class="control-label col-em-8">数据库名称：</label>
                        <div class="col-em-offset-8">
                          <p class="form-control-static">{{data.tsdb_name}}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-em-8">度量：</label>
                        <div class="col-em-offset-8">
                          <p class="form-control-static">{{data.metrics}}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-em-8">状态：</label>
                        <div class="col-em-offset-8">
                          <p class="form-control-static"><span [innerHtml]="data.status | status: 'clnjobstatus' | async"></span></p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-em-8">时间范围：</label>
                        <div class="col-em-offset-8">
                          <p class="form-control-static">{{data.start_time|date:'y-MM-dd HH:mm:ss'}} 至 {{data.end_time|date:'y-MM-dd HH:mm:ss'}}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-em-8">清理方式：</label>
                        <div class="col-em-offset-8">
                          <p class="form-control-static">{{data.type | dict: "assets/dict/jobType.json":"type":"label":true | async }}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-em-8">启动时间：</label>
                        <div class="col-em-offset-8">
                          <p class="form-control-static">{{data.create_time|date:'y-MM-dd HH:mm:ss'}}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-em-8">结束时间：</label>
                        <div class="col-em-offset-8">
                          <p class="form-control-static">{{data.last_update_time|date:'y-MM-dd HH:mm:ss'}}</p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-em-8">删除点数：</label>
                        <div class="col-em-offset-8">
                          <p class="form-control-static"> {{data.data_points_num}} </p>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-em-8">错误信息：</label>
                        <div class="col-em-offset-8">
                          <p class="form-control-static">{{data.error || '无'}}</p>
                        </div>
                      </div>
                    </div>
                  </fieldset>
          </ng-template>
          <ng-template #mFooter>
            <button nz-button nzType="primary" (click)="detailModal.destroy()">关闭</button>
          </ng-template>
          <td>{{data.start_time|date:'y-MM-dd HH:mm:ss'}} 至 {{data.end_time|date:'y-MM-dd HH:mm:ss'}}</td>
          <td><span>{{data.type | dict: "assets/dict/jobType.json":"type":"label":true | async }}</span></td>
          <td><span [innerHtml]="data.status | status: 'clnjobstatus' | async"></span></td>
          <td>{{data.create_time|date:'y-MM-dd HH:mm:ss'}}</td>
          <td>{{data.last_update_time|date:'y-MM-dd HH:mm:ss'}}</td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
