<nz-spin [nzSpinning]="isSpinning">
<nzi-form [formName]="queryForm">
  <form nz-form [formGroup]="queryForm">

      <nz-form-item>
        <nz-form-label style="width: 110px">时间范围<span class="required-icon">*</span></nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-range-picker formControlName="timeRange" [nzShowTime]="{ nzFormat: 'HH:mm:ss' }" nzWidth="300"
          nzFormat="yyyy-MM-dd HH:mm:ss" [nzPlaceHolder]="[ '开始时间', '结束时间' ]"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
      
      <nz-form-item>
          <nz-form-label style="width: 110px">查询模版名称<span class="required-icon">*</span></nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="templateName" placeholder="请输入查询面板名称">
          </nz-form-control>
          <p class="help-text" *ngIf="!(queryForm.get('templateName').dirty && queryForm.get('templateName').invalid)">2-128个字符，不能以特殊字符及数字开头，只可包含特殊字符中的 . , - 或 _ </p>
          <p class="help-text" style="color: red" *ngIf="queryForm.get('templateName').dirty && queryForm.get('templateName').invalid">2-128个字符，不能以特殊字符及数字开头，只可包含特殊字符中的 . , - 或 _ </p>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label style="width: 110px">度量<span class="required-icon">*</span></nz-form-label>
            <nz-form-control>
              <nz-select formControlName="metric" id="metric"
               nzPlaceHolder="请选择度量" (ngModelChange)="getMetrics($event)">
                <nz-option *ngFor="let option of metrics" [nzLabel]="option" [nzValue]="option"></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label style="width: 110px">空间聚合函数<span class="required-icon">*</span></nz-form-label>
            <nz-form-control>
              <nz-radio-group formControlName="aggFunc">
                  <label nz-radio nzValue="avg">平均数/avg</label>
                  <label nz-radio nzValue="count">计数/count</label>
                  <label nz-radio nzValue="sum">求和/sum</label>
                  <label nz-radio nzValue="max">最大值/max</label>
                  <label nz-radio nzValue="min">最小值/min</label>
                  <label nz-radio nzValue="none">无/none</label>
              </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label style="width: 110px">标签（Tags）</nz-form-label>
            <nz-form-control>
                    <ng-template ngFor let-item [ngForOf]="filters" let-i="index">
                        <nz-select nzAllowClear style="padding-top:5px;width: 127px;margin-right: 10px;" [formControlName]="filters[i].name" 
                        (ngModelChange)="getTagV(queryForm.get('metric').value, $event, i)" nzPlaceHolder="标签名称">
                          <nz-option *ngFor="let option of tagK" [nzLabel]="option" [nzValue]="option"></nz-option>
                        </nz-select>
                        <nz-select nzAllowClear nzMode="tags" style="width: 300px; margin-right: 10px;" nzPlaceHolder="标签值" [formControlName]="filters[i].value">
                            <nz-option *ngFor="let option of tagV[i]" [nzLabel]="option" [nzValue]="option"> </nz-option>
                        </nz-select>
                        <i class="anticon anticon-close-circle-o" (click)="removeFilter(filters[i], $event, i)"></i>
                        </ng-template>
                  <!-- <button nz-button nzType="default" (click)="addFilter($event)" style="margin-top: 5px">+ 添加</button> -->
                  <div class="add-btn"><a (click)="addFilter($event)"><i class="fas fa-plus"></i> 添加</a></div>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label style="width: 110px">已添加分组</nz-form-label>
            <nz-form-control>
              <nz-select nzMode="tags" formControlName="groupBy" id="groupBy" nzPlaceHolder="请选择分组标签">
                <nz-option *ngFor="let option of tagK" [nzLabel]="option" [nzValue]="option"></nz-option>
              </nz-select>
            <!-- <nz-tag *ngFor="let tag of groupByTags; let i = index" [nzMode]="'closeable'" (nzAfterClose)="handleClose(tag)" > {{tag}} </nz-tag>
            <button *ngIf="queryForm.get('groupBy').value" nz-button nzType="default" (click)="addTag(queryForm.get('groupBy').value)">+ 添加</button> -->
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label style="width: 110px">降采样</nz-form-label>
            <nz-form-control>
              <nz-switch formControlName="isDownSampling" nzCheckedChildren="开" nzUnCheckedChildren="关" (ngModelChange)="downSampleSwitch($event)"></nz-switch>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="queryForm.get('isDownSampling').value">
            <nz-form-label style="width: 110px">降采样聚合函数<span class="required-icon">*</span></nz-form-label>
            <nz-form-control>
              <nz-radio-group formControlName="downSamplingFunc">
                  <label nz-radio nzValue="avg">平均数/avg</label>
                  <label nz-radio nzValue="count">计数/count</label>
                  <label nz-radio nzValue="sum">求和/sum</label>
                  <label nz-radio nzValue="max">最大值/max</label>
                  <label nz-radio nzValue="min">最小值/min</label>
                  <label nz-radio nzValue="first">开头值/first</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="queryForm.get('isDownSampling').value">
            <nz-form-label style="width: 110px">采样时间间隔<span class="required-icon">*</span></nz-form-label>
            <nz-form-control>
                <nz-radio-group formControlName="downSamplingInterval">
                    <label nz-radio nzValue="1">1分钟</label>
                    <label nz-radio nzValue="5">5分钟</label>
                    <label nz-radio nzValue="15">15分钟</label>
                    <label nz-radio nzValue="30">30分钟</label>
                    <label nz-radio nzValue="60">1小时</label>
                    <label nz-radio nzValue="720">12小时</label>
                    <label nz-radio nzValue="1440">24小时</label>
                  </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

  </form>
</nzi-form>
</nz-spin>