.editable-tag {
    background: rgb(255, 255, 255);
    border-style: dashed;
  }
  .tab-page {
    height: 100%; /* unify the height of two div */
  }
  .covered-form {
    position: relative;
    float: left;
    width: 40%;
    height: 100%;
    display: inline-block;
    border: 1px solid #d9d9d9;
    border-right: none;
  }
  .covered-form-content {
    padding: 15px;
  }
  .covering-result {
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
    display: inline-block;
    border: 1px solid #d9d9d9;
  }
  .cover-icon {
    position: absolute;
    left: -16px;
    top: 7px;
    border: none;
    color: #fff;
    background-color: #d9d9d9;
  }
  .cover-icon:focus {
    outline:0;
  }
  .cover-icon.ant-btn:not(.ant-btn-circle):not(.ant-btn-circle-outline).ant-btn-icon-only {
    padding: 0 2px;
  }
  .cover-icon.ant-btn {
    padding: 0 2px;
  }
  .after-cover {
    left: -1px;
  }
  .hide {
    display: none;
  }
  .cover {
    width: 100%;
  }
  .cover .sub-area-title {
    padding-left: 25px;
  }
  .sub-area-title {
    padding: 11px 15px;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    font-size: 14px;
    font-weight: 700;
  }
  .add-action .anticon-plus-square {
    margin-right: 5px;
    cursor: pointer;
    font-size: 28px;
    color: #40a9ff;
  }
  .vertical-interval {
    margin-bottom: 18px;
  }
  .ant-form .ant-form-item-label {
    width: 90px;
  }
  .ant-form .nz-form-control{
    padding-left: 100px;
  }
  .label-select {
    width: 35%;
    margin-right: 8px;
  }
  .label-input {
    width: 25%;
    margin-right: 8px;
  }
  .input-number-line-select {
    width: 25%;
    margin-right: 8px;
    position: relative;
    top: 0;
  }

  .scrollable-modal {
    height: 350px;
    overflow-y: scroll;
    width: 660px;
  }

  .nz-form-label {
    width: 110px;
  }