<!DOCTYPE html>
<html style="float:left; top: -3; margin-top: -1px;">
<head><title>时序数据库控制台</title></head>
<div class="page-title">
  <h4>时序数据库</h4>
  <a class="pull-right help-link" (click)="navToDocumentPage()">
    <i class="anticon anticon-question-circle-o"></i>时序数据库使用指南
  </a>
</div>
  <div class="page-header">
    <p style="font-family: Arial, Helvetica, sans-serif; color: #5a5a5a; font-size: 12px;">
      时序数据库（Time Series DataBase，简称TSDB）是用于管理时间序列数据的专业数据库。
      区别于传统的关系型数据库，时序数据库针对时间序列数据的存储、查询和展现进行了专门的优化，
      从而获得极高的数据压缩能力，极优的查询性能，特别适用于物联网的应用场景（物联网应用往往需要处理海量的时间序列数据）。
    </p>
  </div>
<app-tsdb-table></app-tsdb-table>

</html>
