
body {
  background-image: url("../images/draft-watermark.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 700px;
}

.note, .danger{
  margin-bottom: 24px;
  padding: 12px;
  line-height: 24px;
}

.note {
  background: #e7f2fa none repeat scroll 0 0;
}

.danger {
  background: #fdf3f2 none repeat scroll 0 0;
}

footer > hr {
  width: 100%;
}

.admonition-title::before {
  margin-right: 4px;
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  content: "";
}

.admonition-title {
  background: #6ab0de none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-weight: bold;
  margin: -12px -12px 12px;
  padding: 6px 12px;
}

.bs-sidenav {
  font-size: 14px;
}


.wy-side-nav-search {
  background: #3fae2a;
}

.wy-side-nav-search input[type="text"] {
  border-color: #3fae2a;
}

blockquote {
  border-left: 4px solid #ddd;
  color: #777;
  padding: 0 15px;
}

.rst-content footer div p {
    font-size: 0.9em;
}

.rst-content footer {
    font-size: 0.9em;
}

.wy-breadcrumbs li {
  font-weight: bold;
}

#title-page {
  text-align: center;
  margin-top: 25px;
}

#title-page .title-text {
  font-size: 32px;
  
}

#title-page .title-text .subtext {
  font-size: .8em;
  margin-bottom: 50px;
}

#title-page .title-text .bottom-text {
  font-size: .5em;
  margin-top: 100px;
}

.rst-content a:visited, a {
    color: #3fae2a;
}

.license-text {
  border: 1px solid #e4e4e4;
  height: 500px;
  width: 100%;
  padding-right: 5px;
}

code {
  font-size: .9em;
  color: #333;
  padding: 5px;
  border-radius: 3px;
}

code .hljs-attribute, code .hljs-comment {
  font-size: .9em;
  color: #333;
  font-style: normal;
}

.danger .first.admonition-title {
  background: #df3e3e;
}

li blockquote p {
  font-size: 1em;
}

span {
  white-space: nowrap;
}

/**
 * Remove code syntax highlighting.
 */
pre code span {
  color: #333 !important;
  font-weight: normal !important;
}

.next a, .next a:visited, .next a:hover, .next a:active, .next a:link {
  color: #fff;
}

.next {
  background: #3fae2a;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  padding: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 250px;
  text-align: center;
  margin: auto;
}

.button-instruction {
  background: #3fae2a;
  color: #fff;
  font-weight: normal;
  font-size: 1em;
  padding: 6px;
}

.button-instruction a, .button-instruction a:visited, .button-instruction a:hover, .button-instruction a:active, .button-instruction a:link {
  color: #fff;
}

.footnote {
  font-size: .8em;
}

footer {
  background : url("../images/hwx-logo.png") no-repeat;
  background-size: 90px;
  background-position: center 35px;
}

footer p {
  margin-top: 50px;
}

.cfn-output {
  color: orange;
}

.cfn-output2 {
  color: green;
}

.cfn-output3 {
  color: red;
}

blockquote p {
  font-size: 16px;
}

.deployment-option {
}

.deployment-option #option {
  font-weight: bold;
  font-size: 1.1em;
}

.deployment-option #description, .deployment-option #url {
  font-size: 0.9em;
}

.deployment-option #regions {
}





