<div class="page-title">
  <!-- <nzi-breadcrumb detailName="{{detail.name}}" ></nzi-breadcrumb> -->
<div class="page-title-opt pull-right">
    <button routerLink="query" nz-button>查询面板</button>
    <button routerLink="clean-auto" nz-button>自动数据清理</button>
    <button routerLink="clean-manual" nz-button>手动数据清理</button>
    <button routerLink="iedata" nz-button>数据导入</button>
  </div>
  <nz-breadcrumb>
    <div class="light"></div><div class="dark"></div>
    <nz-breadcrumb-item>
      <a [routerLink]="['/tsdb/list']">时序数据库</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      {{detail.name}}
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>
<nz-spin [nzSpinning]="loading">
  <nz-tabset style="overflow: visible" class="tab-top-border">
    <nz-tab nzTitle="概况">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-fieldset form-horizontal form-align-left">
            <fieldset>
              <legend>
                基本信息
              </legend>
              <div class="form-static">
                <div class="form-group">
                  <label class="control-label col-em-6">ID：</label>
                  <div class="col-em-offset-6">
                    <p class="form-control-static">{{detail.id}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-em-6">名称：</label>
                  <div class="col-em-offset-6">
                    <p class="form-control-static operational"><span>{{detail.name}}</span>
                      <i class="anticon anticon-edit" nz-popover nzTrigger="click" [nzVisible]="editable" [nzContent]="contentTemplate"
                        (click)="editable=true" (nzVisibleChange)="visibleChange()">
                      </i>
                      <ng-template #contentTemplate>
                        <div class="td-opt-content clearfix">
                          <div [class.has-error]="hasError">
                            <input nz-input [ngModel]=data?.name (ngModelChange)="modelChange($event)">
                            <div *ngIf="hasError && error?.required" class="ant-form-explain">该内容不可为空</div>
                            <div *ngIf="hasError && error?.patten" class="ant-form-explain">内容或长度不符合要求</div>
                            <div *ngIf="hasError && error?.noChange" class="ant-form-explain">没有发生修改</div>
                            <div class="help-text">长度2-128字符，不能以特殊字符和数字开头，只可包含特殊字符中的"."，"_"，"-"</div>
                          </div>
                          <div class="pull-right">
                            <button nz-button nzType="primary" (click)="submit(data?.name)"><i class="anticon anticon-check"></i></button>
                            <button nz-button nzType="default" (click)="editable=false"><i class="anticon anticon-close"></i></button>
                          </div>
                        </div>
                      </ng-template>
                    </p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-em-6">状态：</label>
                  <div class="col-em-offset-6">
                    <p class="form-control-static" [innerHtml]="detail.status | status: 'tsdbstatus' | async"></p>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label class="control-label col-em-6">域名：</label>
                  <div class="col-em-offset-6">
                    <p class="form-control-static">{{detail.domain}}</p>
                  </div>
                </div> -->
                <!-- <div class="form-group">
                  <label class="control-label col-em-6">HTTP URL：</label>
                  <div class="col-em-offset-6">
                    <p class="form-control-static">{{detail.web_url}}</p>
                  </div>
                </div> -->
                <div class="form-group">
                  <label class="control-label col-em-6">运行时间：</label>
                  <div class="col-em-offset-6">
                    <!-- <p class="form-control-static">{{runningTime | number:"0.1-2"}} 天</p> -->
                    <p class="form-control-static">{{runningTime}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-em-6">计费模式：</label>
                  <div class="col-em-offset-6">
                    <p class="form-control-static">按需计费</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-em-6">创建时间：</label>
                  <div class="col-em-offset-6">
                    <p class="form-control-static">{{detail.create_time|date:'y-MM-dd HH:mm:ss'}}</p>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-fieldset form-horizontal form-align-left">
            <fieldset>
              <legend>
                规格
              </legend>
              <div class="form-static">
                <div class="form-group">
                  <label class="control-label col-em-7">实例规格：</label>
                  <div class="col-em-offset-7">
                    <!-- <p class="form-control-static">{{detail.spec}}</p> -->
                    <p class="form-control-static">共享实例</p>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-em-7">写入能力：</label>
                  <div class="col-em-offset-7">
                    <p class="form-control-static">{{detail.wrt_dp_pers}}&nbsp;&nbsp;数据点/秒</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-em-7">时间序列：</label>
                  <div class="col-em-offset-7">
                    <p class="form-control-static">{{detail.max_dp_num | number:"1.0-0"}}</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-em-7">存储空间：</label>
                  <div class="col-em-offset-7">
                    <p class="form-control-static">{{detail.storage_size}}&nbsp;&nbsp;GB</p>
                  </div>
                </div>

              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="监控">
      <app-tsdb-monitor></app-tsdb-monitor>
    </nz-tab>
    <nz-tab nzTitle="用户">
      <app-user></app-user>
    </nz-tab>
  </nz-tabset>
</nz-spin>
