<nz-modal [(nzVisible)]="isResetModalVisible" [nzTitle]="modalTitleReset" [nzContent]="modalContentReset" [nzFooter]="modalFooterReset"
  (nzOnCancel)="handleResetCancel()">
  <ng-template #modalTitleReset>
    <p>重置密码</p>
  </ng-template>

  <ng-template #modalContentReset>
    <form nz-form [formGroup]="resetUserForm" (ngSubmit)="submitResetUserForm()">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-tooltip [nzPlacement]="'right'" [nzOverlayClassName]="'nzi-help-box'">
            <input nz-input type="password" formControlName="password" (ngModelChange)="updateResetConfirmValidator()"
              placeholder="请输入密码" nz-tooltip #box (keyup)="0">
            <nz-form-explain *ngIf="resetUserForm.get('password').dirty && resetUserForm.get('password').invalid || resetUserForm.get('password').pending ">
              <ng-container *ngIf="resetUserForm.get('password').hasError('required')">
                请输入用户密码！
              </ng-container>
              <ng-container *ngIf="resetUserForm.get('password').hasError('invalid')">
                输入的用户密码无效!
              </ng-container>
              <ng-container *ngIf="resetUserForm.get('password').pending">
                验证中...
              </ng-container>
            </nz-form-explain>
            <div style="width: 83%">
              <nzi-password-level [level]='nziPasswordLevel.judgeStrength(box.value,8)' #nziPasswordLevel></nzi-password-level>
            </div>
            <ng-template #nzTemplate>
              <div>密码长度8-32位
                <br> 数字、大小写字母、特殊字符至少两种
                <br> 不能输入空格
                <nzi-password-level [level]='"level3"'></nzi-password-level>
              </div>
            </ng-template>
          </nz-tooltip>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>确认密码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input type="password" formControlName="checkPassword" placeholder="请再次输入密码">
          <nz-form-explain *ngIf="resetUserForm.get('checkPassword').dirty && resetUserForm.get('checkPassword').errors">
            <ng-container *ngIf="resetUserForm.get('checkPassword').hasError('required')">
              请再次输入你的密码！
            </ng-container>
            <ng-container *ngIf="resetUserForm.get('checkPassword').hasError('confirm')">
              两次输入的密码值不同！
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-template>

  <ng-template #modalFooterReset>
    <nz-spin [nzSpinning]="isButtonLoading">
    <button nz-button nzType="default" (click)="handleResetCancel()">取消</button>
    <button nz-button nzType="primary" (click)="resetPassword()" [disabled]="!resetUserForm.valid">确定</button>
  </nz-spin>
  </ng-template>
</nz-modal>
