.nz-breadcrumb {
    display: inline-block;
    font-size: 12px;
    background: none;
  }
  .dark, .light {
    display: inline-block;
    position: relative;
    width: 8px;
    height: 8px;
  }
  .dark {
    background-color: #40a3f1;
    top: -2px;
    left: -12px;
  }
  .light {
    background-color: #d3eef8;
    top: 3px;
  }
  /* .a:disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: help;
  } */