<div class="table-top table-operations clearfix">
  <div class="pull-left">
    <button (click)="navToPurchasePage()" nz-button nzType="primary" class="btn-add" style="margin-top: -1px;"><i class="fas fa-plus"></i>
      <!-- <button routerLink="add" nz-button nzType="primary" class="btn-add" style="margin-top: -1px;"><i class="fas fa-plus"></i> -->
      购买数据库</button>
  </div>

  <div class="pull-right">
    <nz-input-group nzSearch [nzSuffix]="suffixIconButton" style="width: 220px;">
      <input [(ngModel)]="tsdbName" [nzSize]="'default'" (keyup)="onKey($event)" nz-input placeholder="数据库名称">
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzSearch (click)="getTsdbList(tsdbName)" nz-popover [nzContent]="'查询'">
        <i class="anticon anticon-search"></i>
      </button>
    </ng-template>
    <button nz-button (click)="renovate()" style="top: -1px; margin-top: -1px" nz-popover [nzContent]="'刷新'">
      <i class="anticon anticon-reload"></i>
    </button>
  </div>
</div>

<nz-table #nzTable [nzData]="tsdbList" [nzShowSizeChanger]="true" [nzLoading]="loading" nzBordered="true" class="table-fixed" [nzShowPagination]="tsdbList.length > 9">
  <thead>
    <tr>
      <th nzWidth="250px"><span>ID/名称</span></th>
      <th nzWidth="100px"><span>状态</span></th>
      <th nzWidth="120px"><span>写入能力</span></th>
      <th nzWidth="150px"><span>计费模式</span></th>
      <th nzWidth="150px"><span>创建时间</span></th>
      <th nzWidth="160px" nzRight="0px"><span>操作</span></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let data of nzTable.data; let i = index">
      <td>
        <p nz-popover [nzContent]="data.id" class="ellipsis">
          <!-- <span *ngIf="data.status === 'RUNNING'"><a routerLink="detail/{{data.id}}/0">{{data.id}}</a></span>
          <span *ngIf="data.status !== 'RUNNING'"><a disabled="true"><div>{{data.id}}</div></a></span> -->
          <a routerLink="detail/{{data.id}}/0">{{data.id}}</a>
        </p>
        <p>
          <span nz-popover [nzContent]="data.name" class="ellipsis">{{data.name}}</span>
          <a class="td-opt" nz-popover nzTrigger="click" [nzVisible]="popoverVisible[i]" [nzContent]="contentTemplate"
            (click)="popoverVisible[i]='true'" (nzVisibleChange)="visibleChange()">
            <i class="anticon anticon-edit"></i>
          </a>
          <ng-template #contentTemplate>
            <div class="td-opt-content clearfix">
              <div [class.has-error]="hasError">
                <input nz-input [ngModel]="data.name" (ngModelChange)="modelChange($event)">
                <div *ngIf="hasError && error?.required" class="ant-form-explain">该内容不可为空</div>
                <div *ngIf="hasError && error?.patten" class="ant-form-explain">内容或长度不符合要求</div>
                <div *ngIf="hasError && error?.noChange" class="ant-form-explain">没有发生修改</div>
                <div class="help-text">长度2-128字符，不能以特殊字符和数字开头，只可包含特殊字符中的"."，"_"，"-"</div>
              </div>
              <div class="pull-right">
                <button nz-button nzType="primary" (click)="submit(i, data.name, data)"><i class="anticon anticon-check"></i></button>
                <button nz-button nzType="default" (click)="popoverVisible[i]=false"><i class="anticon anticon-close"></i></button>
              </div>
            </div>
          </ng-template>
        </p>
      </td>
      <!--数据库名称-->
      <td><span [innerHtml]="data.status | status: 'tsdbstatus' | async"></span></td>
      <!--状态-->
      <td><span> {{ data.wrtDpPers + ' ' }} 数据点/秒 </span> </td>
      <!--写入能力-->
      <td>
        <span>{{ data.billMode | dict: "assets/status/billMode.json":"mode":"label":true | async }}</span>
        <p class="expire-time" [innerHtml]="data.expiredTime | expire | async"></p>
      </td>
      <!--计费模式-->
      <td>
        <span> {{ data.createTime | date:'y-MM-dd HH:mm:ss' }} </span>
      </td>
      <!--创建时间-->

      <td class="table-opt">
        <span *ngIf="data.status === 'RUNNING'">
          <a nz-tooltip routerLink="detail/{{data.id}}/1">数据查询</a>
        </span>
        <span *ngIf="data.status !== 'RUNNING'">
          <a disabled="true">数据查询</a>
        </span>

        <nz-dropdown [nzTrigger]="'click'">
          <a nz-dropdown>
            更多 <i class="anticon anticon-caret-down"></i>
          </a>
          <ul nz-menu class="ant-table-dropdown-menu">
          <span *ngIf="data.status === 'RUNNING'">
            <li nz-menu-item><a nz-tooltip routerLink="detail/{{data.id}}/2">监控</a></li>
            <li nz-menu-item><a nz-tooltip routerLink="detail/{{data.id}}/4">导入导出</a></li>
            <li nz-menu-item><a nz-tooltip routerLink="detail/{{data.id}}/3">数据清理</a></li>
            <li nz-menu-item><a nz-tooltip routerLink="detail/{{data.id}}/6">用户管理</a></li>
          </span>

          <span *ngIf="data.status !== 'RUNNING'">
          <li nz-menu-item nzDisabled="true">监控</li>
          <li nz-menu-item nzDisabled="true">导入导出</li>
          <li nz-menu-item nzDisabled="true">数据清理</li>
          <li nz-menu-item nzDisabled="true">用户管理</li>
          </span>

          <span *ngIf="(data.status === 'UN_HEALTHY' || data.status === 'RUNNING' || data.status === 'CREATE_FAILED' || data.status === 'SUSPENDED' || data.status === 'unknown') && data.billMode === 'hourlySettlement'">
            <li nz-menu-item  (click)="showDeleteModal(data)">删除</li>
          </span>

          <span *ngIf="data.status === 'DELETED' || data.status === 'DELETE_IN_PROGRESS' || data.status === 'PENDING_CREATE'">
            <li nz-menu-item nzDisabled="true" >删除</li>
          </span>

          <span *ngIf="data.billMode === 'monthly' && (data.status == 'RUNNING' || data.status == 'UN_HEALTHY' || data.status == 'EXPIRED')">
              <li nz-menu-item><a nz-tooltip (click)="renewTsdb(data)">续费</a></li>
          </span>

          </ul>
        </nz-dropdown>
      </td>

    </tr>
  </tbody>
</nz-table>
