/* You can add global styles to this file, and also import other style files */
/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  overflow: hidden;
  padding-right: 0px;
  margin: 0;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
#page-main .container {
  max-width: 100% !important;
  height: 100%;
  overflow: auto;
}
.btn-opt {
  display: inline-block;
  color: #227B9B;
  font-size: 13px;
  margin: 0 .5em;
  padding: 0;
  cursor: pointer;
}
.btn-opt > i {
  width: 1.28571429em;
  text-align: center;
}
.table-top {
  min-height: 42px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
}
a.btn.btn-add {
  color: #ffffff;
  padding: 4px 12px;
  border-radius: 0;
  background-color: #36b3df;
}
a.btn.btn-add:hover {
  color: #ffffff;
  background-color: #25A5D2;
}
.btn.btn-add:before {
  content: '\f067';
  font-family: FontAwesome;
  margin-right: 0.35em;
}
.table-top {
  min-height: 42px;
  padding: 6px 9px;
  margin-bottom: 10px;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
}
.table-top .input-search {
  width: 250px;
  padding-right: 35px;
}
.table-top .form-control {
  height: 28px;
  color: #938E8E;
  font-size: 12px;
  margin-left: 0;
  padding: 4px 8px;
  border-radius: 0;
  border-color: #e2e7ea;
  box-shadow: none;
  vertical-align: baseline;
}
.table-top label .btn-search {
  position: absolute;
  right: 0;
  top: 50%;
  padding: 4px 8px;
  height: 28px;
  margin-top: -15px;
  border-left: 1px solid #e3e7eb;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-search:hover, .btn-search:focus, .btn-search:active {
  color: #333;
}
.table-top label .btn-search:before {
  color: #227a9c;
}
.btn-search:before {
  content: '\f002';
  font-family: FontAwesome;
  color: #9D9898;
}
.table-top label {
  position: relative;
  font-weight: normal;
  margin-bottom: 0;
}
.mat-dialog-content .mat-form-field {
  display: block;
}
.fa-dot {
  font-size: 150%;
  line-height: 80%;
}
.fa-dot:before {
  content: "\2022";
}
.tooltip {
  opacity: 1;
}
.ant-menu-submenu-inline > .ant-menu-submenu-title:after {
  color: #fff;
}
.icon-square, .icon-square-d {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .25em;
  vertical-align: middle;
}
.icon-square:before {
  background-color: #5FC3E7;
}
.icon-square:before, .icon-square-d:before, .icon-square-d:after {
  content: " ";
  display: block;
  width: 55%;
  height: 55%;
  position: absolute;
  left: 0;
  top: 0;
}
.icon-square-d:before {
  top: 25%;
  left: 25%;
  background-color: #D3EEF9;
}
.icon-square-d:after {
  background-color: #5FC3E7;
}
.page-title {
  margin-top: 10px;
  margin-bottom: 20px;
}
.ant-select-selection--single {
  height: 32px;
}
.ant-select-selection--single {
  line-height: 30px;
}
legend {
  font-size: 14px;
}
.form-horizontal .form-group > .pwd-masked-wrapper[class*="col-"] .btn-pwd-masked {
  right: 10px;
}

label.control-label,
.form-group > label {
  font-weight: normal;
}

.form-horizontal .form-group {
  margin-left: -5px;
  margin-right: -5px;
}
.form-horizontal .form-group > [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
.form-horizontal .form-group > [class*="col-em"] {
  padding-right: 0.7142857143em;
  padding-left: 0.7142857143em;
}
.form-horizontal .form-group > [class*="col-em-offset"] {
  padding-left: 0;
}
.form-group .help-block {
  margin-bottom: 0;
}
.form-group .help-inline {
  display: inline;
}
.form-static .form-group {
  margin-bottom: 0;
}
.form-control-static {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.form-fieldset {
  padding: 10px 15px;
  border: 1px solid #f0f0f0;
  margin-bottom: 10px;
}
.form-fieldset legend {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  border-bottom-color: #f0f0f0;
}
.form-fieldset .form-static {
  padding-left: 13px;
  margin-bottom: 10px;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-right: 10px;
  padding-left: 10px
}
.col-em-1, .col-em-10, .col-em-11, .col-em-12, .col-em-13, .col-em-14, .col-em-15, .col-em-16, .col-em-17, .col-em-18, .col-em-19, .col-em-20, .col-em-2, .col-em-3, .col-em-4, .col-em-5, .col-em-6, .col-em-7, .col-em-8, .col-em-9 {
  float: left;
  padding-right: 0.7142857143em;
  padding-left: 0.7142857143em;
}
.col-em-1 {
  width: 2.5em;
}
.col-em-offset-1 {
  margin-left: 2.5em;
}
.col-em-10 {
  width: 11.5em;
}
.col-em-offset-10 {
  margin-left: 11.5em;
}
.col-em-11 {
  width: 12.5em;
}
.col-em-offset-11 {
  margin-left: 12.5em;
}
.col-em-12 {
  width: 13.5em;
}
.col-em-offset-12 {
  margin-left: 13.5em;
}
.col-em-13 {
  width: 14.5em;
}
.col-em-offset-13 {
  margin-left: 14.5em;
}
.col-em-14 {
  width: 15.5em;
}
.col-em-offset-14 {
  margin-left: 15.5em;
}
.col-em-15 {
  width: 16.5em;
}
.col-em-offset-15 {
  margin-left: 16.5em;
}
.col-em-16 {
  width: 17.5em;
}
.col-em-offset-16 {
  margin-left: 17.5em;
}
.col-em-17 {
  width: 18.5em;
}
.col-em-offset-17 {
  margin-left: 18.5em;
}
.col-em-18 {
  width: 19.5em;
}
.col-em-offset-18 {
  margin-left: 19.5em;
}
.col-em-19 {
  width: 20.5em;
}
.col-em-offset-19 {
  margin-left: 20.5em;
}
.col-em-20 {
  width: 21.5em;
}
.col-em-offset-20 {
  margin-left: 21.5em;
}
.col-em-2 {
  width: 3.5em;
}
.col-em-offset-2 {
  margin-left: 3.5em;
}
.col-em-3 {
  width: 4.5em;
}
.col-em-offset-3 {
  margin-left: 4.5em;
}
.col-em-4 {
  width: 5.5em;
}
.col-em-offset-4 {
  margin-left: 5.5em;
}
.col-em-5 {
  width: 6.5em;
}
.col-em-offset-5 {
  margin-left: 6.5em;
}
.col-em-6 {
  width: 7.5em;
}
.col-em-offset-6 {
  margin-left: 7.5em;
}
.col-em-7 {
  width: 8.5em;
}
.col-em-offset-7 {
  margin-left: 8.5em;
}
.col-em-8 {
  width: 9.5em;
}
.col-em-offset-8 {
  margin-left: 9.5em;
}
.col-em-9 {
  width: 10.5em;
}
.col-em-offset-9 {
  margin-left: 10.5em;
}
.btn.btn-back {
  color: #fff;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 0;
  background: #37b3e0;
}
.btn.btn-back:hover,
.btn.btn-back:focus,
.btn.btn-back:active {
  color: #fff;
  background: #25A5D2;
}
.page-header {
  position: relative;
  display:table;
  width:100%;
  min-height:50px;
  margin:0;
  padding:0;
  border-bottom: none;
}
.page-header .btn-back {
  position: absolute;
  right: 0;
  bottom: 0;
}
.page-header {
  border: 1px solid #EBEBEB;
  margin-bottom: 20px;
  padding: 10px;
}
.page-header .media-body {
  padding-top: 8px;
}
/* 对话框、表单 */
.ant-modal .ant-modal-header {
  background-color: #F5F5F5;
}
.ant-modal-body {
  max-height: 400px;
  overflow: auto;
}
h3.ant-card-head-title {
  line-height: 48px;
}
form .ant-form-item {
  margin-bottom: 14px;
}
form .ant-form-item-with-help {
  margin-bottom: 6px;
}

/* 表格 */
.ant-table .ant-table-thead > tr > th,
.ant-table .ant-table-tbody > tr > td {
  padding: 11px 8px;
}
nz-message-container .ant-message {
  top: 76px;
}
