<div class="tab-page clearfix">
    <div class="covered-form" [class.hide]="cover">
      <div class="sub-area-title">
        查询项
          <!-- <button (click)="addQueryModal()" nz-button nzType="primary" style="margin-left: 10px;"><i class="fas fa-plus"></i>添加</button> -->
      </div>

      <!-- 旧版 - 单个表单 -->
      <div style="padding: 15px">
          <form nz-form [formGroup]="queryForm">
              <nz-form-item>
                <nz-form-label [nzSpan]="5" nzFor="timeRangeType" nzRequired>时间范围<span class="required-icon">*</span></nz-form-label>
                <nz-form-control [nzSpan]="12">
                  <nz-radio-group id="timeRangeType" formControlName="timeRangeType" [nzButtonStyle]="'solid'" (ngModelChange)="changeTimeRangeType($event)">
                    <label nz-radio-button nzValue="Absolute">绝对时间范围</label>
                    <label nz-radio-button nzValue="Relative">相对时间范围</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
          
              <nz-form-item>
                <nz-form-control [nzSm]="16" [nzXs]="24" *ngIf="queryForm.value.timeRangeType==='Absolute'">
                  <nz-range-picker formControlName="absoluteTimeRange" [nzShowTime]="{ nzFormat: 'HH:mm:ss' }"
                  nzFormat="yyyy-MM-dd HH:mm:ss" [nzPlaceHolder]="[ '开始时间', '结束时间' ]"></nz-range-picker>
                </nz-form-control>
          
                <nz-form-control [nzSm]="16" [nzXs]="24" *ngIf="queryForm.value.timeRangeType=='Relative'">
                  <ng-container>
                    <nz-input-number nzPlaceHolder="起始" style="margin-left: 30px" formControlName="relativeStart" [nzMin]="0" [nzStep]="1" [nzDisabled]="queryForm.value.timeRangeType == 'Absolute'"></nz-input-number>
                    <nz-select style="margin-left: 10px; margin-right: 10px; width: 85px;" formControlName="relativeStartUnit" nzPlaceHolder="单位" [nzDisabled]="queryForm.value.timeRangeType == 'Absolute'">
                      <nz-option *ngFor="let option of timeUnitOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                    </nz-select>
                    <label>以前，到</label>
                    <br>
                      <nz-input-number nzPlaceHolder="结束" style="margin-right: 10px; margin-top: 10px;" formControlName="relativeEnd" [nzMin]="0" [nzStep]="1" [nzDisabled]="queryForm.value.timeRangeType == 'Absolute'"></nz-input-number>
                    <nz-select nzAllowClear style="margin-left: 35px; width: 85px; margin-top: 10px; margin-right: 10px;"formControlName="relativeEndUnit" nzPlaceHolder="单位" [nzDisabled]="queryForm.value.timeRangeType == 'Absolute'">
                      <nz-option *ngFor="let option of timeUnitOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                    </nz-select>
                    <label>以前（0为当前时间）</label>
                  </ng-container>
                </nz-form-control>
              </nz-form-item>
          
              <nz-form-item>
                    <nz-form-label nzRequired nzFor="metricName">度量名称<span class="required-icon">*</span></nz-form-label>
                    <nz-form-control>
                      <input style="width: 60%;" formControlName="metricName" class="form-input" placeHolder="请输入度量名称" nz-input>
                      <nz-form-explain *ngIf="queryForm.get('metricName').dirty && queryForm.get('metricName').invalid || queryForm.get('metricName').pending ">
                        <ng-container *ngIf="queryForm.get('metricName').hasError('invalid')">
                          度量名称的长度应为2-50，并且只能由小写字母、数字或符号“.”组成!
                        </ng-container>
                      </nz-form-explain>
                    </nz-form-control>
              </nz-form-item>
          
              <nz-form-item>
                    <nz-form-label nzRequired nzFor="metric_name">标签</nz-form-label>
                        <nz-form-control>
                            <div class="add-action">
                              <i class="anticon anticon-plus-square" (click)="addTagFilter($event)"></i>
                              添加标签过滤
                              <nzi-help [options]="{'title': '<p>分组是否根据标签值进行分组</p><p>选择过滤器的类型</p><p>输入标签名称K</p><p>输入标签值(表达式)</p>'}">
                              </nzi-help>
                            </div>
                          <ng-container *ngFor="let tagFilter of tagFilters">
                            <div class="input-number-container">
                              <div class="sys-form">
                                <span nz-checkbox [formControlName]="tagFilter.isGroupBy"><label>分组</label></span>
                                <nz-select nzAllowClear style="padding-top:5px;width: 130px;margin-right: 10px;" id="tagType" [formControlName]="tagFilter.type" nzPlaceHolder="标签类型">
                                  <nz-option *ngFor="let option of filterTypes" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                                </nz-select>
                                <input style="padding-top:5px;width: 75px;margin-right: 10px;" id="tagName" [formControlName]="tagFilter.name" placeHolder="标签名称" nz-input>
                                <input style="padding-top:5px;width: 65px;margin-right: 10px;" id="tagValue" [formControlName]="tagFilter.value" placeHolder="标签值" nz-input>
                                <i class="anticon anticon-close-circle-o" (click)="removeTagFilter(tagFilter,$event)"></i>
                              </div>
                            </div>
                          </ng-container>
                        </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                  <nz-form-label nzRequired nzFor="metricName">降采样函数<span class="required-icon">*</span></nz-form-label>
                  <nz-form-control>
                      <nz-select nzAllowClear style="width: 110px;" formControlName="aggFun" id="aggFunc" nzPlaceHolder="聚合函数">
                        <nz-option *ngFor="let option of aggFuns" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                      </nz-select>
                      <nz-form-explain *ngIf="queryForm.get('aggFun').dirty && queryForm.get('aggFun').errors"></nz-form-explain>
                      <nz-select nzAllowClear style="width: 100px;margin-left: 10px;" formControlName="interpolation" nzPlaceHolder="插值">
                        <nz-option *ngFor="let option of interpolations" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                      </nz-select>
                      <nz-form-explain *ngIf="queryForm.get('interpolation').dirty && queryForm.get('interpolation').errors"></nz-form-explain>
                      <nzi-help [options]="{'title': '<p>选择降采样的聚合函数和插值算法</p><p>插值算法：</p><p>None–在序列化过程中不会发出缺失值，
                          并在聚合序列时执行线性插值（或其他指定的插值）。</p><p>NaN–当序列中所有值都缺失时，在序列化输出中发出NaN。</p><p>Null–除了在序
                          列化过程中它发出的是一个null而不是NaN，与NaN有相同的行为。</p><p>Zero–当缺少时间戳时以0替换。零值将被合并到聚合结果中。</p>'}">
                      </nzi-help>
                  </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzRequired nzFor="metricName">采样间隔<span class="required-icon">*</span></nz-form-label>
                <nz-form-control>
                    <nz-input-number nzPlaceHolder="采样间隔" formControlName="sampleTime" [nzMin]="1" [nzStep]="1"></nz-input-number>
                    <nz-form-explain *ngIf="queryForm.get('sampleTime').dirty && queryForm.get('sampleTime').errors"></nz-form-explain>
                    <nz-select nzAllowClear style="width: 100px; margin-left: 5px;" formControlName="sampleTimeUnit" nzPlaceHolder="单位">
                      <nz-option *ngFor="let option of timeUnitOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="queryForm.get('sampleTimeUnit').dirty && queryForm.get('sampleTimeUnit').errors"></nz-form-explain>
                </nz-form-control>
          </nz-form-item>

              <nz-form-item style="margin-bottom:8px;">
                      <nz-form-control>
                        <button nz-button [nzType]="'primary'" (click)="submitQueryForm()">生成图表</button>
                      </nz-form-control>
              </nz-form-item>
          </form>
      </div>

      <!-- 新版 - 折叠面板 -->
      <!-- <nz-collapse [nzAccordion]="true">
        <nz-collapse-panel *ngFor="let template of templates" [nzHeader]="template.templateName"
          [nzActive]="template.active" (nzActiveChange)="useTemplate($event, template)">
          <div style="padding: 15px">
            <form nz-form [formGroup]="queryForm">

              <nz-form-item>
                <nz-form-label>查询模版名称<span class="required-icon">*</span></nz-form-label>
                <nz-form-control>
                  {{template.templateName}}
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label>度量<span class="required-icon">*</span></nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="metricName" id="metricName" nzPlaceHolder="请选择度量">
                    <nz-option *ngFor="let option of metrics" [nzLabel]="option.label" [nzValue]="option.value">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-label>空间聚合函数<span class="required-icon">*</span></nz-form-label>
                <nz-form-control>
                  <nz-radio-group formControlName="aggFun">
                    <label nz-radio nzValue="avg">平均数/avg</label>
                    <label nz-radio nzValue="count">计数/count</label>
                    <label nz-radio nzValue="sum">求和/sum</label>
                    <label nz-radio nzValue="max">最大值/max</label>
                    <label nz-radio nzValue="min">最小值/min</label>
                    <label nz-radio nzValue="none">无/none</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>

              <hr>

              <nz-form-item>
                <nz-form-label>已添加分组<span class="required-icon">*</span></nz-form-label>
                <nz-form-control>
                  <nz-select nzMode="tags" formControlName="groupBy" id="groupBy" nzPlaceHolder="请选择分组标签">
                    <nz-option *ngFor="let option of tags" [nzLabel]="option" [nzValue]="option"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <hr>

              <nz-form-item>
                <nz-form-label>降采样<span class="required-icon">*</span></nz-form-label>
                <nz-form-control>
                  <nz-switch formControlName="downSampling" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngIf="queryForm.get('downSampling').value">
                <nz-form-label>降采样聚合函数<span class="required-icon">*</span></nz-form-label>
                <nz-form-control>
                  <nz-radio-group formControlName="downSamplingFunc">
                    <label nz-radio nzValue="avg">平均数/avg</label>
                    <label nz-radio nzValue="count">计数/count</label>
                    <label nz-radio nzValue="sum">求和/sum</label>
                    <label nz-radio nzValue="max">最大值/max</label>
                    <label nz-radio nzValue="min">最小值/min</label>
                    <label nz-radio nzValue="first">开头值/first</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item *ngIf="queryForm.get('downSampling').value">
                <nz-form-label>采样时间间隔<span class="required-icon">*</span></nz-form-label>
                <nz-form-control>
                  <nz-radio-group formControlName="downSamplingInterval">
                    <label nz-radio nzValue="1">1分钟</label>
                    <label nz-radio nzValue="5">5分钟</label>
                    <label nz-radio nzValue="15">15分钟</label>
                    <label nz-radio nzValue="30">30分钟</label>
                    <label nz-radio nzValue="60">1小时</label>
                    <label nz-radio nzValue="720">12小时</label>
                    <label nz-radio nzValue="1440">24小时</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </form>
          </div>
        </nz-collapse-panel>
      </nz-collapse> -->

    </div>
    <div class="covering-result" [class.cover]="cover">
      <button nz-button class="cover-icon" [class.after-cover]="cover" (click)="cover=!cover">
        <ng-container *ngIf="!cover"><i class="anticon anticon-caret-left"></i></ng-container>
        <ng-container *ngIf="cover"><i class="anticon anticon-caret-right"></i></ng-container>
      </button>
      <div class="sub-area-title">
        时序信息
      </div>
      <div *ngIf="isChartVisible" echarts [options]="queryEchartOption"></div>
    </div>
  </div>
  