<div class="page-title">
  <!-- <nzi-breadcrumb detailName="查询面板"></nzi-breadcrumb> -->
  <nz-breadcrumb>
    <div class="light"></div><div class="dark"></div>
    <nz-breadcrumb-item><a [routerLink]="['/tsdb/list']">时序数据库</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>查询面板</nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<nz-tabset style="overflow: visible" class="tab-top-border" >
  <nz-tab nzTitle="查询面板">
    <div class="form-fieldset form-horizontal form-align-left">
      <form nz-form [formGroup]="queryForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="timeRangeType" nzRequired>任务类型<span class="required-icon">*</span></nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-radio-group id="timeRangeType" formControlName="timeRangeType" [nzButtonStyle]="'solid'" (ngModelChange)="changeTimeRangeType($event)">
              <label nz-radio-button nzValue="Absolute">绝对时间范围选择</label>
              <label nz-radio-button nzValue="Relative">相对时间范围选择</label>
            </nz-radio-group>
            <nz-form-explain *ngIf="queryForm.get('timeRangeType').dirty && queryForm.get('timeRangeType').errors">请选择任务类型！</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzRequired>时间范围<span class="required-icon">*</span></nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24" *ngIf="queryForm.value.timeRangeType==='Absolute'">
            <nz-range-picker formControlName="absoluteTimeRange" [nzShowTime]="{ nzFormat: 'HH:mm:ss' }"
            nzFormat="yyyy-MM-dd HH:mm:ss" [nzPlaceHolder]="[ '开始时间', '结束时间' ]"></nz-range-picker>
            <nz-form-explain *ngIf="queryForm.get('absoluteTimeRange').dirty && queryForm.get('absoluteTimeRange').errors">请选择时间范围！</nz-form-explain>
          </nz-form-control>

          <nz-form-control [nzSm]="16" [nzXs]="24" *ngIf="queryForm.value.timeRangeType=='Relative'">
            <!-- <nz-date-picker formControlName="relativeTimeRange" [nzPlaceHolder]="'开始时间 ~ 今天'"></nz-date-picker> -->
            <ng-container>
              <nz-input-number style="margin-left: 30px" formControlName="relativeStart" [nzMin]="0" [nzStep]="1" [nzDisabled]="queryForm.value.timeRangeType == 'Absolute'"></nz-input-number>
              <nz-select style="margin-left: 10px; margin-right: 10px; width: 135px;" formControlName="relativeStartUnit" nzPlaceHolder="请选择时间单位" [nzDisabled]="queryForm.value.timeRangeType == 'Absolute'">
                <nz-option *ngFor="let option of timeUnitOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
              </nz-select>
              <label>以前，到</label>
              <nz-input-number style="margin-left: 40px; margin-right: 10px;" formControlName="relativeEnd" [nzMin]="0" [nzStep]="1" [nzDisabled]="queryForm.value.timeRangeType == 'Absolute'"></nz-input-number>
              <nz-select style="margin-left: 35px; width: 135px;"formControlName="relativeEndUnit" nzPlaceHolder="请选择时间单位" [nzDisabled]="queryForm.value.timeRangeType == 'Absolute'">
                <nz-option *ngFor="let option of timeUnitOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
              </nz-select>
            </ng-container>
            <nz-form-explain *ngIf="queryForm.get('relativeStart').dirty && queryForm.get('relativeStart').errors">请选择开始时间！</nz-form-explain>
            <nz-form-explain *ngIf="queryForm.get('relativeStartUnit').dirty && queryForm.get('relativeStartUnit').errors">请选择开始时间单位！</nz-form-explain>
            <nz-form-explain *ngIf="queryForm.get('relativeEnd').dirty && queryForm.get('relativeEnd').errors">请选择结束时间！</nz-form-explain>
            <nz-form-explain *ngIf="queryForm.get('relativeEndUnit').dirty && queryForm.get('relativeEndUnit').errors">请选择结束时间单位！</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-divider></nz-divider>

        <!-- <app-template-add #createTemplateModal (updateTemplateNames)="getTemplteNames()"></app-template-add> -->
        <nz-form-item>
          <nz-form-label>选择模板</nz-form-label>
          <nz-form-control>
            <div>
              <nz-select style="width: 200px;" nzPlaceHolder="不使用模板" formControlName="templateName" (ngModelChange)="templateOption($event)">
                <nz-option *ngFor="let option of templates" [nzLabel]="option.name" [nzValue]="option"></nz-option>
                <!-- <nz-option [nzLabel]="'不使用模板'" [nzValue]="''"></nz-option> -->
              </nz-select><a style="margin-left: 10px" (click)="getTemplteNames()">刷新模板列表</a>
              <!-- <a style="margin-left: 10px" nz-tooltip *ngIf="isTemplateUsed" (click)="queryForm.reset()">重置表单</a> -->
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="metricName">指标名称<span class="required-icon">*</span></nz-form-label>
          <nz-form-control>
            <input formControlName="metricName" class="form-input" width="100%" placeHolder="指标名称" nz-input>
            <nz-form-explain *ngIf="queryForm.get('metricName').dirty && queryForm.get('metricName').invalid || queryForm.get('metricName').pending ">
              <ng-container *ngIf="queryForm.get('metricName').hasError('required')">
                请输入指标名称！
              </ng-container>
              <ng-container *ngIf="queryForm.get('metricName').hasError('invalid')">
                指标名称的长度应为2-50，并且只能由小写字母、数字或符号“.”组成!
              </ng-container>
              <ng-container *ngIf="queryForm.get('metricName').pending">
                验证中...
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="metric_name">标签</nz-form-label>
          <nz-form-control *ngIf="!isTemplateUsed">
            <ng-container *ngFor="let tagFilter of tagFilters">
              <div class="input-number-container">
                <div class="sys-form">
                  <span nz-checkbox [formControlName]="tagFilter.isGroupBy"><label>分组</label></span>
                  <nz-select style="padding-top:5px;width: 140px;margin-right: 10px;" id="select" [formControlName]="tagFilter.type"
                    nzPlaceHolder="请选择">
                    <nz-option *ngFor="let option of filterTypes" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                  </nz-select>
                  <input style="padding-top:5px;width: 100px;margin-right: 10px;" id="tagName" [formControlName]="tagFilter.name"
                    placeHolder="标签名称" nz-input>
                  <input style="padding-top:5px;width: 100px;margin-right: 10px;" id="tagValue" [formControlName]="tagFilter.value"
                    placeHolder="标签值" nz-input>
                  <i class="anticon anticon-close-circle-o" (click)="removeTagFilter(tagFilter,$event)"></i>
                </div>
              </div>
            </ng-container>
            <div class="add-action">
              <i class="anticon anticon-plus-square" (click)="addTagFilter($event)"></i>
              添加标签过滤
              <nzi-help [options]="{'title': '<p>分组是否根据标签值进行分组</p><p>选择过滤器的类型</p><p>输入标签名称K</p><p>输入标签值(表达式)</p>'}">
              </nzi-help>
            </div>
          </nz-form-control>

          <nz-form-control *ngIf="isTemplateUsed">
            <ng-container *ngFor="let tagFilter of tagFiltersEdited, let i = index">
              <div class="input-number-container">
                <span nz-checkbox [formControlName]="i + '_isGroupBy'"><label>分组</label></span>
                <div class="sys-form">
                  <nz-select style="padding-top:5px;width: 140px;margin-right: 10px;" id="select" [formControlName]="i + '_type'"
                    nzPlaceHolder="请选择">
                    <nz-option *ngFor="let option of filterTypes" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                  </nz-select>
                  <input style="padding-top:5px;width: 100px;margin-right: 10px;" id="tagName" [formControlName]="i + '_name'"
                    placeHolder="标签名称" nz-input>
                  <input style="padding-top:5px;width: 100px;margin-right: 10px;" id="tagValue" [formControlName]="i + '_value'"
                    placeHolder="标签值" nz-input>
                  <!-- <i class="anticon anticon-close-circle-o" (click)="removeTagFilter(tagFilter,$event)"></i> -->
                </div>
              </div>
            </ng-container>
          </nz-form-control>

        </nz-form-item>

        <nz-form-item nz-row>
          <nz-form-label nzRequired>降采样</nz-form-label>
          <nz-form-control>
            <span nz-col style="padding-top:5px;">
              聚合函数
            </span>
            <nz-select style="padding-top:5px;width: 80px;margin-left: 10px;" formControlName="aggFun" nzPlaceHolder="请选择">
              <nz-option *ngFor="let option of aggFuns" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="queryForm.get('aggFun').dirty && queryForm.get('aggFun').errors">请选择聚合函数！</nz-form-explain>
            <span nz-col style="padding-top:5px;margin-left:20px;">
              插值
            </span>
            <nz-select style="padding-top:5px;width: 100px;margin-left: 10px;" formControlName="interpolation"
              nzPlaceHolder="请选择">
              <nz-form-explain *ngIf="queryForm.get('interpolation').dirty && queryForm.get('interpolation').errors">请选择插值！</nz-form-explain>
              <nz-option *ngFor="let option of interpolations" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
            <span nz-col style="margin-right:5px;padding-top:10px;margin-left: 20px;">
              采样间隔
            </span>
            <nz-input-number style="margin-left: 50px;margin-left: 35px;" formControlName="sampleTime" [nzMin]="1" [nzStep]="1"></nz-input-number>
            <nz-form-explain *ngIf="queryForm.get('sampleTime').dirty && queryForm.get('sampleTime').errors">请输入采样间隔！</nz-form-explain>
            <nz-select style="width: 80px;" formControlName="sampleTimeUnit" nzPlaceHolder="请选择">
              <nz-option *ngFor="let option of timeUnitOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="queryForm.get('sampleTimeUnit').dirty && queryForm.get('sampleTimeUnit').errors">请选择采样单位！</nz-form-explain>
            <nzi-help [options]="{'title': '<p>选择降采样的聚合函数和插值算法</p><p>插值算法：</p><p>None–在序列化过程中不会发出缺失值，
                并在聚合序列时执行线性插值（或其他指定的插值）。</p><p>NaN–当序列中所有值都缺失时，在序列化输出中发出NaN。</p><p>Null–除了在序
                列化过程中它发出的是一个null而不是NaN，与NaN有相同的行为。</p><p>Zero–当缺少时间戳时以0替换。零值将被合并到聚合结果中。</p>'}">
            </nzi-help>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="!isTemplateUsed" style="margin-bottom:8px;">
          <nz-form-control>
            <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="changeTemplateSavingStatus($event)">
              <div nz-col nzSpan="8">
                <label nz-checkbox nzValue="true" formControlName="saveAsTemplate">保存为模板
                  <nzi-help [options]="{'title': '保存指标名称以及降采样数据，以便下次查询'}"></nzi-help>
                </label>
                <!-- <a style="margin-left: 10px" nz-tooltip (click)="toTemplateManagement()">模板管理</a> -->
              </div>
            </nz-checkbox-wrapper>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label *ngIf="saveAsTemplate && (!isTemplateUsed)">模板名称</nz-form-label>
          <nz-form-control *ngIf="saveAsTemplate">
            <input formControlName="newTemplateName" class="form-input" nz-input>
            <nz-form-explain *ngIf="queryForm.get('newTemplateName').dirty && queryForm.get('newTemplateName').invalid || queryForm.get('newTemplateName').pending ">
              <ng-container *ngIf="queryForm.get('newTemplateName').hasError('required')">
                请输入模板名称！
              </ng-container>
              <ng-container *ngIf="queryForm.get('newTemplateName').invalid">
                模板名称的长度为2-128个字符，只能以字母或汉字开头，并且仅包含字母、汉字、数字、”.“、”_“或”-“！
              </ng-container>
              <ng-container *ngIf="queryForm.get('newTemplateName').pending">
                验证中...
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item style="margin-bottom:8px;" *ngIf="saveAsTemplate">
          <nz-form-control>
            <button nz-button [nzType]="'primary'" (click)="submitQueryForm()">生成图表并保存为模板</button>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item style="margin-bottom:8px;" *ngIf="!saveAsTemplate">
          <nz-form-control>
            <button nz-button [nzType]="'primary'" (click)="submitQueryForm()">生成图表</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

    <div *ngIf="isChartVisible" echarts [options]="queryEchartOption"></div>
  </nz-tab>
  <nz-tab nzTitle="模板管理">
    <app-query-template #queryTemplate></app-query-template>
  </nz-tab>
</nz-tabset>

