<nz-modal [(nzVisible)]="isCreatingTemplateModalVisible" [nzTitle]="createModalTitle" [nzContent]="createModalContent"
  [nzFooter]="createModalFooter" (nzOnCancel)="handleCreateTemplateModalCancel()" nzWidth="30%">
  <ng-template #createModalTitle>
    新建查询模板
  </ng-template>

  <ng-template #createModalContent>
    <form nz-form [formGroup]="newTemplateForm">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="templateName">模板名称<span class="required-icon">*</span></nz-form-label>
        <nz-form-control>
          <input formControlName="templateName" class="form-input" width="100%" placeHolder="请输入模板名称" nz-input>
          <nz-form-explain *ngIf="newTemplateForm.get('templateName').dirty && newTemplateForm.get('templateName').invalid || newTemplateForm.get('templateName').pending ">
            <ng-container *ngIf="newTemplateForm.get('templateName').hasError('required')">
              请输入模板名称！
            </ng-container>
            <ng-container *ngIf="newTemplateForm.get('templateName').invalid">
              模板名称的长度为2-128个字符，只能以字母或汉字开头，并且仅包含字母、汉字、数字、”.“、”_“或”-“！
            </ng-container>
            <ng-container *ngIf="newTemplateForm.get('templateName').pending">
              验证中...
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-divider></nz-divider>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="metric_name">标签</nz-form-label>
        <nz-form-control>
          <ng-container *ngFor="let tagFilter of tagFilters">
            <div class="input-number-container">
              <div class="sys-form">
                <div nz-checkbox [formControlName]="tagFilter.isGroupBy"><label>分组</label></div>
                <nz-select style="padding-top:5px;width: 140px;margin-right: 10px;" [formControlName]="tagFilter.type" nzPlaceHolder="请选择标签类型">
                  <nz-option *ngFor="let option of filterTypes" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                </nz-select>
                <input style="padding-top:5px;width: 100px;margin-right: 10px;" id="tagName" [formControlName]="tagFilter.name" placeHolder="标签名称" nz-input>
                <input style="padding-top:5px;width: 100px;margin-right: 10px;" id="tagValue" [formControlName]="tagFilter.value" placeHolder="标签值" nz-input>
                <i class="anticon anticon-close-circle-o" (click)="removeTagFilter(tagFilter,$event)"></i>
              </div>
            </div>
          </ng-container>

          <div class="add-action">
            <i class="anticon anticon-plus-square" (click)="addTagFilter($event)"></i>
            添加标签过滤
            <nzi-help [options]="{'title': '<p>分组是否根据标签值进行分组</p><p>选择过滤器的类型</p><p>输入标签名称K</p><p>输入标签值(表达式)</p>'}">
            </nzi-help>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-divider></nz-divider>

      <nz-form-item>
        <nz-form-label nzRequired nzFor="metricName">指标名称<span class="required-icon">*</span></nz-form-label>
        <nz-form-control>
          <input formControlName="metricName" class="form-input" width="100%" placeHolder="请输入指标名称" nz-input>
          <nz-form-explain *ngIf="newTemplateForm.get('metricName').dirty && newTemplateForm.get('metricName').invalid || newTemplateForm.get('metricName').pending ">
            <ng-container *ngIf="newTemplateForm.get('metricName').hasError('required')">
              请输入指标名称！
            </ng-container>
            <ng-container *ngIf="newTemplateForm.get('metricName').hasError('invalid')">
              指标名称的长度应为2-50，并且只能由小写字母、数字或符号“.”组成!
            </ng-container>
            <ng-container *ngIf="newTemplateForm.get('metricName').pending">
              验证中...
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>聚合函数<span class="required-icon">*</span></nz-form-label>
        <nz-form-control>
          <nz-select formControlName="aggFun" placeHolder="请选择">
            <nz-option *ngFor="let option of aggFuns" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="newTemplateForm.get('aggFun').dirty && newTemplateForm.get('aggFun').errors">请选择聚合函数！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>插值<span class="required-icon">*</span></nz-form-label>
        <nz-form-control>
          <nz-select formControlName="interpolation" nzPlaceHolder="请选择">
            <nz-option *ngFor="let option of interpolations" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="newTemplateForm.get('interpolation').dirty && newTemplateForm.get('interpolation').errors">请选择插值！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>采样间隔<span class="required-icon">*</span></nz-form-label>
        <nz-form-control>
          <nz-input-number formControlName="sampleTime" [nzMin]="1" [nzStep]="1"></nz-input-number>
          <nz-form-explain *ngIf="newTemplateForm.get('sampleTime').dirty && newTemplateForm.get('sampleTime').errors">请输入采样间隔！</nz-form-explain>
          <nz-select style="width: 35%;" formControlName="sampleTimeUnit" nzPlaceHolder="请选择">
            <nz-option *ngFor="let option of timeUnitOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="newTemplateForm.get('sampleTimeUnit').dirty && newTemplateForm.get('sampleTimeUnit').errors">请选择采样单位！</nz-form-explain>
          <nzi-help [options]="{'title': '<p>选择降采样的聚合函数和插值算法</p><p>插值算法：</p><p>None–在序列化过程中不会发出缺失值，
                          并在聚合序列时执行线性插值（或其他指定的插值）。</p><p>NaN–当序列中所有值都缺失时，在序列化输出中发出NaN。</p><p>Null–除了在序
                          列化过程中它发出的是一个null而不是NaN，与NaN有相同的行为。</p><p>Zero–当缺少时间戳时以0替换。零值将被合并到聚合结果中。</p>'}">
          </nzi-help>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>

  <ng-template #createModalFooter>
    <button nz-button nzType="default" (click)="handleCreateTemplateModalCancel()">取消</button>
    <button nz-button nzType="primary" (click)="createTemplate()" [nzLoading]="isCreatingTemplateConfirmLoading">确认</button>
  </ng-template>
</nz-modal>
