# Created by .ignore support plugin (hsz.mobi)
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
build/
.idea/
.gradle
src/main/angular/e2e
src/main/angular/node_modules

.settings/
classes/
.e2e/
.node_module/

/.classpath
/.project
/bin/
